body {
    margin: 0;
    background-color: rgb(183, 148, 216);
}
header {
    text-align: center;
	padding: 5px;
    margin: 0;
}
h2 {
    color: #333;
}
.gif-container {
    margin: 0;
    background-color: #fff;
    max-width: 1350px;
    width: 100%;
    height: 700px;
}
img {
    max-width: 100%;
    width: 1350px;
    height: 700px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-family: Lucida Calligraphy;
    color: #470456;
    font-size: +1;
}
nav ul li a:hover{
    background-color: #ca4684; ;
    padding: 15px;
    border-radius: 20px;
}

.section-info1{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height: 700px;
}
.MAKEUP-image img{
    height: 400px;
    width: 100%;
    border-radius: 70px;
    
}
.MAKEUP-image h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #470456;
}
.section-info2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height:700px ;
}
.section-info3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height: 700px;
}
.section-info4{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    height: 700px ;
}



